AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev
NEXTAUTH_URL=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
DATABASE_URL=""
SENTRY_AUTH_TOKEN=""
SENTRY_DSN=""